<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta charset="UTF-8">
<title>Welcome in an employment helper system</title>
</head>

<body style="background-image: url(../background);">

	<ul id="menu-bar">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="#">Employers zone</a>
			<ul>
				<li><a href="/employersManager">List of all employers</a></li>
				<li><a href="/addNewEmployer">Add new employer</a></li>
			</ul></li>
		<li><a href="#">Employees zone</a>
			<ul>
				<li><a href="/employeesManager">List of all employees</a></li>
				<li><a href="/addNewEmployee">Add new employee</a></li>
			</ul></li>
	</ul>
<br>
<br>
<br>
</body>
</html>